.navbar-custom {
    background-color: #393939;
}

.navbar-custom>.active>a { 
    background-color: white ; 
}

nav img{
    padding-right: 10px;
}

.btn:hover {
    background-color: var(darkblue)
}

.carouselExampleAutoplaying p{
    font-size: 30
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

